@media print {
  body {
    font-size: 70% !important;
    max-width: 7.75in !important;
  }

  tr {
    break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  h1,
  h1 h2:not(:first-child) {
    break-before: always;
  }

  @page {
    size: Letter;
    margin: 0.3in;
    margin-bottom: 0.75in;
  }

  @page: left {
    @bottom-left {
      content: "Page " counter(page) " of " counter(pages);
      font-size: 0.7em;
    }
  }

  @page: right {
    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
      font-size: 0.7em;
    }
  }
}

/* Currently assumes we only have tables for rules */
/* PDF output does not honor this... */
td {
  border: 1px solid !important;
}

/*td.rule,*/
td:nth-child(1),
th:nth-child(1) {
  width: 65% !important;
}

/*td.why,*/
td:nth-child(2),
th:nth-child(2) {
  width: 30% !important;
}

/*td.why,*/
td:nth-child(2) {
  font-size: 80%;
}

/*td.rule-id,*/
td:nth-child(3),
th:nth-child(3) {
  width: 3% !important;
}

/*td.rule-id,*/
td:nth-child(3) {
  font-size: 80%;
}

tbody > tr:nth-child(odd) {
  background-color: whitesmoke;
}

em {
  font-weight: bold;
}

.rule-ref {
  font-weight: bold;
}
