/* Currently assumes we only have tables for rules */
/* PDF output does not honor this... */
td {
    border: 1px solid !important;
}

td.aaron *:first-child::before, table.aaron::before {
    content: '📜(aaron)📜';
}

td.rule, td:nth-child(odd) {
    width: 70% !important;
}

td.why, td:nth-child(even){
    width: 30% !important;
    font-size: 80%;
}

tbody > tr:nth-child(odd) {
    background-color: whitesmoke
}

em {
    font-weight: bold;
}
